.contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card0 {
    width: 250px;
    height: 140px;
    border: none;
    color: transparent;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    margin: 15px 40px;
    align-items: center;
    justify-content: center;
}

.kakao0 {
    background: linear-gradient(to right bottom, #ffda55, #ff9900);
    color: #6f3806;
}

.shinhan0 {
    background: linear-gradient(to right bottom, #fff3c9, #63a1ff);
    color: #605645;
}

.samsung0 {
    background: linear-gradient(to right bottom, #467aff, #1b45b2);
    color: #c4d0fd;
}

.lotte0 {
    background: linear-gradient(to right bottom, #f13e74, #7e4242);
    color: #ffb0c3;
}

.woori0 {
    background: linear-gradient(to right bottom, #9de8ff, #3484ce);
    color: #0f3e69;
}

.cash0 {
    background: linear-gradient(to right bottom, #d4d66f, #66b105);
    color: #224804;
}

.hyundai0 {
    background: linear-gradient(to right bottom, #795e44, #2e2a27);
    color: #f5d1c1;
}

.bc0 {
    background: linear-gradient(to right bottom, #ff9f8a, #f45c06);
    color: #940606;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(5px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-8px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(5px);
    }
}